body {
  color: gray;
  background-color: rgb(0, 3, 51);
}

.priority-1 {
  background-color: red;
  color: white;
}
.priority-2 {
  background-color: orangered;
  color: white;
}
.priority-3 {
  background-color: orange;
  color: white;
}
.priority-4 {
  background-color: yellow;
  color: white;
}
.priority-5 {
  background-color: yellowgreen;
  color: white;
}
.priority-6 {
  background-color: green;
  color: white;
}
